/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/

body {
  background-color: aquamarine;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

table {
  width: 96%;
}
table th,
table td {
  width: 16%;
  overflow: scroll;
  vertical-align: middle;
  background-color: #115ff4;
  color: #fff;
  height: 130px;
  font-size: 85%;
}
table th {
  font-size: 100%;
  background-color: #74119c;
}
.card {
  text-align: center;
  display: block;
}
/*.card .question {
  background: #060ce9;
  }
.card .answer {
  background: #28a200;
  }*/
